<div class="row marketing">
  <p>
    Ce site a été créé dans le cadre de la formation Master 1 MIAGE <br>
    Le site comprend une partie Front-end (HTML5, AngularJS) et Back-end (Java, JPA, JaxRS). <br> <br>
    Les données statiques présentes dans ce site proviennent d'un fichier json, qui lui vient du site
    <a href="https://developer.riotgames.com/">Riot Developer Portal</a>. <br> <br>
    Le projet actuel de développement du site peut être récupéré à partir de ce
    <a href="https://github.com/lewanni/tp7.sir">dépôt git</a>.
  </p>
</div>
