<div class="container">

  <form class="well form-horizontal" action="rest/mail/add" method="post"  id="contact_form" onsubmit="return checkContactForm(this)">
    <fieldset>

      <legend>Contactez-nous !</legend>

      <div class="form-group">
        <label class="col-md-4 control-label">Nom</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input  name="name" placeholder="Nom" class="form-control"  type="text" onblur="check(this)">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" >Prénom</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input name="fName" placeholder="Prénom" class="form-control"  type="text" onblur="check(this)">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">E-Mail</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input name="mail" placeholder="E-Mail" class="form-control"  type="text" onblur="check(this)">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Message</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
            <textarea class="form-control" name="content" placeholder="Votre message" onblur="check(this)"></textarea>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4">
          <button type="submit" class="btn btn-warning" >Send <span class="glyphicon glyphicon-send"></span></button>
        </div>
      </div>

    </fieldset>
  </form>
</div>
