<div class="jumbotron">
  <h1>LolChamps</h1>
  <p class="lead">
    <img src="images/lol.png" alt="lol logo"><br>
    Le site consacré aux champions de League of Legends
  </p>
</div>

<div class="row marketing">
  <h4>Informations en détail sur les champions</h4>
  <p>
    Tu as déjà été surpris par un Nunu qui te one-shot de nulle part ? <br>
    Tu t'es pas déjà demandé comment un Kha'Zix peut sauter deux fois de suite ? <br>
    Ici, tu apprendras tout ce qu'il faut savoir sur les champions de League of Legends.
  </p>

  <h4>Dons</h4>
  <p>
    Ce site est en cours de développement, un petit-don nous fera extrêment plaisir et nous aidera à nous motiver à développer de nouvelles fonctionnalités.
    <p><a class="btn btn-lg btn-success" ng-href="#/404">Je fais un don !<span class="glyphicon glyphicon-ok"></span></a></p>
  </p>

  <h4>Commentaires</h4>
  <p>Lâchez vos commentaires, dites-nous ce que vous en pensez du site.</p>
</div>
